@import "../../shared/custom-styles/widget";

.third-widget__body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  list-style: none;
  display: inline-block;
  margin-right: 50px;

  &__item {
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr;
    padding: 5px;
    border-bottom: 1px solid rgba(234, 234, 255, 0.79);

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.bar-chart {
  width: 100%;
  height: 100%;
  gap: 3px;
  display: grid;
}

.row {
  flex: 1;
  display: grid;
  grid-template-columns: 70px 1fr;
  column-gap: 3px;
}

.name, .percent {
  display: flex;
  align-items: center;
}

.bar {
  &-line {
    height: 100%;
    background: #EAEAFF;
    display: flex;
    align-items: center;
    padding-left: 5px;
    color: #282A42;
    transition: all 5s ease-in-out;
  }
}
