<div class="widget">
  <app-widget-header [name]="'Analytics on apartment prices by Almaty by types of house'"></app-widget-header>
  <div class="widget__body third-widget__body">

    <div class="bar-chart" #barChart>
      <div class="row" *ngFor="let region of regionsEx;">
        <div class="name">
          {{region.name}}
        </div>
        <div class="bar">
          <div class="bar-line" [style.width.%]="region.percent">
            {{region.avg | number}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
