<div class="widget">
  <app-widget-header [name]="'Analytics on apartment prices by regions in bar chart'"></app-widget-header>
  <div class="widget__body third-widget__body">

    <ng-container *ngIf="loading; else result">
      loading
    </ng-container>
    <ng-template #result>
      <div class="bar-chart" #barChart>
        <div class="row" *ngFor="let region of regionsEx;">
          <div class="name animate__animated animate__flipInY">
            {{region.name}}
          </div>
          <div class="bar">
            <div class="bar-line" [style.width.%]="region.percent">
              <span class="animate__animated animate__bounceIn">
                {{region.avg | number}}
              </span>
            </div>
          </div>
        </div>
      </div>

    </ng-template>
  </div>
</div>
