@import '../../shared/custom-styles/widget';
svg {
  width: 100%;
  height: 100%;
  text {
    fill: #fff;
    font-size: 14px;
  }
  line {
    stroke: rgba(255,255,255,0.3);
  }
  polygon {
    fill: rgba(102, 108, 255, 50%);
  }
  .rect-tooltip {
    opacity: 0;
  }
  .tooltip {
    fill: rgba(102, 108, 255, 100%);
  }
}
