.widget {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 10px;

  &__body {
    flex: 1;
    gap: 20px;

    &--flex {
      display: flex;
    }

    &--jc-sb {
      justify-content: space-between;
    }
    &--sm-fd-col {
      @media (max-width: 575px) {
        flex-direction: column;
      }
    }
  }
}
