.widget {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__body {
    flex: 1;
    padding-top: 10px;
    gap: 20px;
    margin-top: 20px;

    &--flex {
      display: flex;
    }

    &--jc-sb {
      justify-content: space-between;
    }
  }

}
