$value: calc(50% - 10px);
.widgets {
  height: 100%;
  padding: 20px;
  display: grid;
  grid-template-rows: $value $value;
  grid-template-columns: $value $value;
  gap: 20px;
  .widget {
    border-radius: 10px;
    padding: 20px;
    background: var(--secondary-bg);
  }
}

@media (max-width: 767px) {
  .widgets {
    grid-template: repeat(4, auto) / 1fr;
  }
}
