<div class="container">
  <div class="widget widget-1">
    <div class="widget-header">
      <app-widget-header [name]="'A1. Population Statistics of Kazakhstan'"></app-widget-header>
    </div>
    <div class="widget-body">
      <app-widget1></app-widget1>
    </div>
  </div>
  <div class="widget widget-2">
    <div class="widget-header">
      <app-widget-header [name]="'A2. Population by regions'"></app-widget-header>
    </div>
    <div class="widget-body">
      <app-widget2></app-widget2>
    </div>
  </div>
  <div class="widget widget-3">
    <div class="widget-header">
      <app-widget-header [name]="'A3. Key Age Groups'"></app-widget-header>
    </div>
    <div class="widget-body">
      <app-widget3></app-widget3>
    </div>
  </div>
  <div class="widget widget-4">
    <div class="widget-header">
      <app-widget-header [name]="'A4. Population pyramid by gender'"></app-widget-header>
    </div>
    <div class="widget-body">
      <app-widget4></app-widget4>
    </div>
  </div>
  <div class="widget widget-5">
    <div class="widget-header">
      <app-widget-header [name]="'A5. Population Projections'"></app-widget-header>
    </div>
    <div class="widget-body">
      <app-widget5></app-widget5>
    </div>
  </div>
  <div class="widget widget-6">
    <div class="widget-header">
      <app-widget-header [name]="'A2. Population by regions'"></app-widget-header>
    </div>
    <div class="widget-body">
      <app-widget2></app-widget2>
    </div>
  </div>
</div>