@import "../../shared/custom-styles/widget";

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  width: 20%;
  .card {
    flex: 1;
    background: rgb(40, 42, 66);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,25%);
    padding: 5px;
    transition: all 2s ease-in-out;
  }
  &--sm {
    @media (max-width: 575px) {
      flex-direction: row;
      width: 100%;
    }
  }
}

.map-wrapper {
  flex: 1;
}

.loading {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
