<div class="widget">
  <app-widget-header [name]="'Analytics on apartment prices by regions'"></app-widget-header>
  <div class="widget__body widget__body--flex widget__body--jc-sb widget__body--sm-fd-col">
    <div class="loading" *ngIf="loading">loading</div>
    <ng-container *ngIf="!loading">
      <div class="cards cards--sm">
        <div class="card animate__animated animate__fadeInLeft" *ngFor="let card of cards">
          <div>{{card.name}}</div>
          <div>〒 {{card.avg | number}}</div>
        </div>
      </div>
      <div class="map-wrapper">
          <app-map [data]="data" (selectedRegionId)="getSelectedRegionId($event)"></app-map>
      </div>
    </ng-container>

  </div>
</div>
