<div class="wrapper">
  <div class="pie-chart">
    <svg viewBox="0 0 32 32">
      <circle class='first' stroke-dasharray="50 50"></circle>
      <circle class='second' stroke-dasharray="30 70" stroke-dashoffset="50"></circle>
      <circle class='third' stroke-dasharray="30 70" stroke-dashoffset="10"></circle>
      <text x="5" y="-11" fill="#fff">65%</text>
      <text x="15" y="-26" fill="#fff">5%</text>
      <text x="18" y="-17" fill="#fff">35%</text>
    </svg>
  </div>
  <div class="table">
    <table>
      <tr>
        <th></th>
        <th>Kazakh</th>
        <th>Russian</th>
        <th>Uzbek</th>
        <th>Tatar</th>
      </tr>
      <tr>
        <td>Aktobe</td>
        <td>15 000</td>
        <td>3 000</td>
        <td>2 000</td>
        <td>533</td>
      </tr>
      <tr>
        <td>Aktobe</td>
        <td>15 000</td>
        <td>3 000</td>
        <td>2 000</td>
        <td>533</td>
      </tr>
      <tr>
        <td>Aktobe</td>
        <td>15 000</td>
        <td>3 000</td>
        <td>2 000</td>
        <td>533</td>
      </tr>
    </table>
  </div>
</div>